.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom:0 !important;
}

section, section > p {
  box-sizing: border-box;
  color: #35465d;
}

.section {
 font-family: 'Do Hyeon', sans-serif;
 padding: 2.2rem 0;
}

.select-box {
  padding: 30px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,.04);
}

.gender-msg {
    margin-bottom: 24px !important;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    border:1px solid #37afa9;
    color: #37afa9;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    max-width: 180px;
    margin: 0 auto;
}

.navbar-center {
  position: absolute;
  margin-top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;	
}

/* gender */
input#gender {
    display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}


/* file upload */
.file-upload {
    margin: 0 auto;
    border-radius: 10px;
}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  padding: 30px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0,0,0,.04);
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1px #35465d;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 2px rgba(0,0,0,.04);
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #e6f2f2;
}

.image-title-wrap {
  padding: 30px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 600;
  text-transform: uppercase;
}

.file-upload-image {
  max-height: 80%;
  max-width: 80%;
  margin: 30px auto;
  border-radius:4px;
}

.result-msg {
  font-size: 14px;
  border-radius: 20px;
    background: #37afa9;
    color: #fff;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    max-width: 180px;
    margin: 0 auto;
}

.show-full-image {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.try-again-btn {
  border-radius: 4px;
    border: none;
    background-color: #37afa9;
    width: 100%;
    height: 42px;
}
.try-again-btn:hover{
  background-color:#208E87;
  transition:0.3s;
}

.try-again-text {
  font-size:14px;
  font-weight: 600;
  color: #ffffff;
}
.try-again-text .svg-inline--fa.fa-w-16 {
  font-size:12px;
}

.try-again-text em {
  display: inline-block;
  margin-right:8px;
  font-style: normal;
}
.inner-button{
  max-width:1110px;
  margin:0 auto;
}
.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.back-btn{
  color:#fff;
  font-size: 1.2rem;
  line-height: 1.5;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

  h2 {
      font-size: 1.6rem !important;
  }

   .caption > p {
    font-size: 0.5rem !important;
  }

  .animal-explain {
    font-size: 1rem !important;
  }

  .flex-box > a {
    width: 60px !important;
    height: 60px !important;
  }
  
  .flex-box > p {
    font-size: 10px !important;
  }

  .flex-box + .flex-box {
    margin-left: 0 !important;
  }

  .ct-img-area > img{
    width:280px !important;
    height:280px !important;
  }
}

.dflex{
  display:flex;
}

.upload {
  width: 44px;
}

.upload-text {
  width: 58%;
  font-size: 16px;
  text-align: center;
  color: #35465d;
  margin: 0 auto;
}

.footer {
  background-color: initial;
  color: initial;
}

.bar-container {
  height: 2.7rem;
}
.dinosaur-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.dinosaur-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  background-color: rgba(117, 204, 84, 1);
}
.deer-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.deer-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  background-color: rgba(117, 204, 84, 1);
}
.dog-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.dog-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  background-color: rgba(27, 175, 234, 1);
}
.cat-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.cat-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  background-color: rgba(251, 176, 59, 1);
}
.bear-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.bear-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  background-color: rgba(195, 140, 102, 1);
}
.fox-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.fox-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  background-color: rgba(49, 132, 155, 1);
}
.rabbit-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.rabbit-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  border-radius: 4px;
  background-color: rgba(235, 166, 190, 1);
}
.percent-text {
  font-size: 14px;
  color: #ffffff;
}
.animal-label {
  width: 30%;
  text-align: left;
  height: 1.8rem;
  font-weight: 600;
  font-size: 14px;
  color: #35465d;
  letter-spacing: -.8px;
}
#label-container {
  margin: 0 auto;
  padding: 40px 30px 30px;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}
.result-message {
  font-family: 'Do Hyeon', sans-serif;  
  font-size: 2rem;
}

.tlb-top{
  padding-top:40px;
}

.animal-explain {
  margin: 0 30px;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
  line-height: 1.9rem;
  font-weight: 400;
  color: #35465d;
  letter-spacing: -.8px;
}

.dinosaur-animal-title > p{
  color: #3ba363;
}
.dinosaur-animal-celeb {
  color: #3ba363;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -.8px;
  background-color: #eef1f6;
  border-radius: 4px;
  padding: 22px 20px !important;
  margin: 30px;
}
.deer-animal-title > p{
  color: #3ba363;
}
.deer-animal-celeb {
  color: #3ba363;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -.8px;
  background-color: #eef1f6;
  border-radius: 4px;
  padding: 22px 20px !important;
  margin: 30px;
}
.cat-animal-title > p{
  color: #ff6c0a;
}
.cat-animal-celeb {
  color: #ff6c0a;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -.8px;
  background-color: #eef1f6;
  border-radius: 4px;
  padding: 22px 20px !important;
  margin: 30px;
}
.dog-animal-title > p{
  color: #548dd4;
}
.dog-animal-celeb {
  color: #548dd4;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -.8px;
  background-color: #eef1f6;
  border-radius: 4px;
  padding: 22px 20px !important;
  margin: 30px;
}

.rabbit-animal-title,
.dog-animal-title,
.cat-animal-title,
.dinosaur-animal-title,
.fox-animal-title,
.deer-animal-title,
.bear-animal-title {
  position: relative;
}

.rabbit-animal-title > p,
.dog-animal-title > p,
.cat-animal-title > p,
.dinosaur-animal-title > p,
.fox-animal-title > p,
.deer-animal-title > p,
.bear-animal-title > p{
  font-family: 'Do Hyeon', sans-serif;
  display:inline-block;
  padding-left:40px;
  font-size: 1.9rem;
  line-height:1.9rem;
  font-weight: 400; 
}

.rabbit-animal-title::before,
.dog-animal-title::before,
.cat-animal-title::before,
.dinosaur-animal-title::before,
.fox-animal-title::before,
.deer-animal-title::before,
.bear-animal-title::before{
  content:'';
  position:absolute;
  top:8px;
  width:34px;
  height:34px;
}

.rabbit-animal-title::before{
  background: url(../img/icn_1.png) no-repeat 0 50%;
  background-size: contain;
}
.dog-animal-title::before{
  background: url(../img/icn_4.png) no-repeat 0 50%;
  background-size: contain;
}
.cat-animal-title::before{
  background: url(../img/icn_3.png) no-repeat 0 50%;
  background-size: contain;
}
.dinosaur-animal-title::before{
  background: url(../img/icn_6.png) no-repeat 0 50%;
  background-size: contain;
}
.fox-animal-title::before{
  background: url(../img/icn_2.png) no-repeat 0 50%;
  background-size: contain;
}
.deer-animal-title::before{
  background: url(../img/icn_5.png) no-repeat 0 50%;
  background-size: contain;
}
.bear-animal-title::before{
  background: url(../img/icn_7.png) no-repeat 0 50%;
  background-size: contain;
}

.rabbit-animal-title > p {
  color: #e56995;
}

.rabbit-animal-celeb {
  color: #e56995;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -.8px;
  background-color: #eef1f6;
  border-radius: 4px;
  padding: 22px 20px !important;
  margin: 30px;
}
.bear-animal-title > p{
  color: #9b6b43;
}
.bear-animal-celeb {
  color: #9b6b43;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -.8px;
  background-color: #eef1f6;
  border-radius: 4px;
  padding: 22px 20px !important;
  margin: 30px;
}
.fox-animal-title > p{
  color: #31849b;
}
.fox-animal-celeb {
  color: #31849b;
  font-family: 'Poppins', sans-serif !important;
  font-size: 14px !important;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -.8px;
  background-color: #eef1f6;
  border-radius: 4px;
  padding: 22px 20px !important;
  margin: 30px;
}

.mrt-12 {
  margin-top:12px;
}
.ai-msg{
  font-size:14px;
  font-weight:400;
  color: #35465d;
  margin: 10px 0 40px 0;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 057 css*/
.jssorb057 .i {position:absolute;cursor:pointer;}
.jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
.jssorb057 .i:hover .b {stroke-opacity:.7;}
.jssorb057 .iav .b {stroke-opacity: 1;}
.jssorb057 .i.idn {opacity:.3;}

/*jssor slider arrow skin 093 css*/
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}

.imageAndText {
    position: relative;
    border:1px solid #ddd;
    border-radius:4px;
    cursor: pointer;
} 
.imageAndText .caption {
    color: #fff;  
    position: absolute; 
    width:100%;
    z-index: 1; 
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:14px;
    text-align:center;
}
.imageAndText a:hover{
  background:transparent;
}
.imageAndText a {
  background:rgba(0,0,0,0.3);
}

/*custom style*/
.fixed-menu-kit{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background:#fff;
  border-top:1px solid #ddd;
  z-index:500;
}
.inner-box{
  overflow:hidden;
  margin:15px;
}
.imageAndText img{
  object-fit:cover;
}
.try-sm-btn{
  padding:0;
}
.detail-wrap{
  background: #37afa9;
}
.ctn-img-box{
  width: 100%;
  padding-top: 60px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.ctn-img-box > div{
  position: relative;;
}
.fixed-try-btn{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
  z-index:1000;
}
.fixed-try-btn .try-again-btn{
  max-width:1140px;
  margin:0 auto;
}

.ct-img-area > img {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width: 430px;
  height: 430px;
  border: 3px solid #37afa9;
  padding: 4px;
}
.inner-wrap{
  background:#fff;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.cartoon-sub-tit{
  font-size:1.4rem !important;
  letter-spacing:-.8px;
  padding:30px 0 50px;
  font-weight:600;

}

.cartoon-title{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 635px;
  position: relative;
}

.ct-left-btn{
  position:absolute;
  left:0;
  top:48%;
}
.ct-right-btn{
  position:absolute;
  right:0;
  top:48%;
}

.ct-left-btn .fa-chevron-circle-left, 
.ct-right-btn .fa-chevron-circle-right {
  font-size:1.4rem;
  color:#ddd;
  cursor: pointer;
}

.cartoon-area{
  max-width:388px;
  margin: 0 auto;
}
.cartoon-group{
  display:table;
  width:100%;
}
.cartoon-label{
  display:table-cell;
  width:16%;
}
.cartoon-label p {
  text-align: left;
  height: 1.8rem;
  font-weight: 600;
  font-size: 14px;
  color: #35465d;
  letter-spacing: -.8px;
}
.cartoon-value{
  display:table-cell;
  width:84%;  
}
.cartoon-btns{
  max-width:220px;
  width:100%;
  margin: 0 auto;
  padding: 40px 0;
  display:table;
}
.ctn-btn{
  display:table-cell;
  width:33.333%;
  text-align: center;
}
.ctn-btn > p {
  font-size:12px;
  font-weight:600;
  color:#35465d;
  margin-top:12px;
}
.cBtns{
  text-align: center;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  line-height: 58px;
}
.clr1{
  background: #205072;
  color:#fff;
}
.clr2{
  background:#329d9c;
  color:#fff;
}
.clr3{
  background:#56c596;
  color:#fff;
}
